[Unit]
Description=Create Deploy Service for Zephyr

[Install]
WantedBy=multi-user.target[Unit]
Description=Create Deploy Service for Zephyr

[Service]
ExecStart=/opt/zephyr/watcher/create.bash
Restart=on-failure
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target