[Unit]
Description=Delete Service for Zephyr


[Install]
WantedBy=multi-user.target[Unit]
Description=Delete Deploy Service for Zephyr

[Service]
ExecStart=/opt/zephyr/watcher/delete.bash
Restart=on-failure
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target